<div class="container category-container">
    <div class="row row-category align-items-center text-center">
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Food</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Clothing</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bookstore</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bakery</button>
            <button type="button" class="btn btn-outline-info">Food</button>
        </div>
        <div class="col-3 col-category">
            <button type="button" class="btn btn-outline-primary">Bookstore</button>
        </div>
        <div class="col-3 col-category">
            <button type="button" class="btn btn-outline-primary">Clothing</button>
        </div>
        <div class="col-3 col-category">
            <button type="button" class="btn btn-outline-primary">Bakery</button>
        </div>
    </div>
</div>
