<div class="container">
    <div>
        <h4>Categories</h4>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
                <img style="background-color: green;"src="https://img.icons8.com/bubbles/2x/folder-invoices.png" alt="">
                <p class="text-center">Coffee shops</p>    
        </div>
        <div class="col-sm-3">
            <img style="background-color: green;"src="https://img.icons8.com/bubbles/2x/folder-invoices.png" alt="">
            <p class="text-center">Coffee shops</p>
        </div>
        <div class="col-sm-3">
            <img style="background-color: green;"src="https://img.icons8.com/bubbles/2x/folder-invoices.png" alt="">
            <p class="text-center">Coffee shops</p>
        </div>
    </div>
</div>