<div class="container category-container">
    <div class="row row-category align-items-center text-center">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> eac5b130d740a8f6f4aae1a793387850dc1d67d6
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Food</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Clothing</button>
<<<<<<< HEAD
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bookstore</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bakery</button>
=======
        <div class="col-3 col-category">
=======
        <div class="col-sm-3 col-category">
>>>>>>> responsive homepage
            <button type="button" class="btn btn-outline-info">Food</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Clothing</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bookstore</button>
        </div>
<<<<<<< HEAD
        <div class="col-3 col-category">
            <button type="button" class="btn btn-outline-primary">Bakery</button>
>>>>>>> added message
=======
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bakery</button>
>>>>>>> responsive homepage
=======
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bookstore</button>
        </div>
        <div class="col-sm-3 col-category">
            <button type="button" class="btn btn-outline-info">Bakery</button>
>>>>>>> eac5b130d740a8f6f4aae1a793387850dc1d67d6
        </div>
    </div>
</div>