<nav class="navbar navbar-search">
  <div class="container">
    <div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of e9fd979... responsive homepage
=======
>>>>>>> parent of 61a3c8d... added message
      <div class="col-xs-5 logo">
        <img id="logo" style="height: 40px; max-width:100%" src="https://i.imgur.com/pSXYW34.png" alt="FastQ">
      </div>
      <div class="col-xs-7 search-box">
          <form class="row form-inline active-cyan-4">
            <input class="col-xs-6 form-control form-control-sm mr-3 w-75" type="text" placeholder=`Search`
            aria-label="Search">
            <i style="width: 5px"class="col-xs-2 fas fa-search" aria-hidden="true"></i>
          </form>
<<<<<<< HEAD
=======
      <div class="col-xs-3 logo">
        <img id="logo" style="height: 40px; max-width:100%" src="https://i.imgur.com/mVq3COd.png" alt="FastQ">
<<<<<<< HEAD
=======
      <div class="col-xs-5 logo">
        <img id="logo" style="height: 40px; max-width:100%" src="https://i.imgur.com/pSXYW34.png" alt="FastQ">
>>>>>>> responsive homepage
=======
      <div class="col-xs-5 logo">
        <img id="logo" style="height: 40px; max-width:100%" src="https://i.imgur.com/pSXYW34.png" alt="FastQ">
>>>>>>> eac5b130d740a8f6f4aae1a793387850dc1d67d6
=======
>>>>>>> parent of e9fd979... responsive homepage
      </div>
      <div class="col search-box">
        <form class="form-inline active-cyan-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
>>>>>>> added message
=======
            <i style="width: 5px"class="col-xs-2 fas fa-search" aria-hidden="true"></i>
          </form>
>>>>>>> responsive homepage
=======
            <i style="width: 5px"class="col-xs-2 fas fa-search" aria-hidden="true"></i>
          </form>
>>>>>>> eac5b130d740a8f6f4aae1a793387850dc1d67d6
=======
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
>>>>>>> added message
>>>>>>> parent of e9fd979... responsive homepage
=======
>>>>>>> parent of 61a3c8d... added message
      </div>
    </div>
  </div>
</nav>