<nav class="navbar navbar-search">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 logo">
          <p>FastQ</p>
      </div>
      <div class="col search-box">
        <form action="#" class="active-cyan-2">
          <input type="text" placeholder="Search" name="search shop name">
          <button type="submit" name="button" class="search-btn"><i class="fa fa-search active"></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>
