<nav class="navbar navbar-search">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-3 logo">
          <p>FastQ</p>
      </div>
      <div class="col-xs-9 search-box">
        <form action="#" class="active-cyan-2">
          <input type="text" placeholder="Search" name="search">
          <i class="fa fa-search active"></i>
        </form>
      </div>
    </div>
  </div>
</nav>
