<nav class="navbar navbar-search">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 logo">
        <img id="logo" style="height: 40px; max-width:100%" src="https://i.imgur.com/mVq3COd.png" alt="FastQ">
      </div>
      <div class="col search-box">
        <form class="form-inline active-cyan-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
      </div>
    </div>
  </div>
</nav>
