<div class="container stores-container">
    <div class="row row-stores align-items-center">
        <% for (var i =1; i <=10;  i++ ) { %>
            <div class="col col-stores my-auto">
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img img-thumbnail rounded" src="images/food.jpg" alt="...">
                    </div>
                    <div class="col-xs-8">
                        <p class="card-text">Description of stores</p>
                    </div>
                </div>
             </div>
        <% } %>
    </div>
</div>
