<div class="container container-fluid">
  <div>
    <h4>Shop Listings</h4>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="img-responsive border border-primary rounded" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp"  alt="..." />
        <div class="card-body">
          <p class="card-text">
            Description of stores
            
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive border border-primary rounded" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp"  alt="..." />
          <div class="card-body">
            <p class="card-text">
              Description of stores
              
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive border border-primary rounded" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp"  alt="..." />
          <div class="card-body">
            <p class="card-text">
              Description of stores
              
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive border border-primary rounded" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp"  alt="..." />
          <div class="card-body">
            <p class="card-text">
              Description of stores
              
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive border border-primary rounded" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp"  alt="..." />
          <div class="card-body">
            <p class="card-text">
              Description of stores
              
            </p>
          </div>
        </div>
      </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive border border-primary rounded" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp" class="card-img-class="img-responsive" top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Description of stores
              
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="img-responsive" src="https://i.insider.com/5432ecc8ecad046666d2a561?width=750&format=jpeg&auto=webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Description of stores
              
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
