<!DOCTYPE html>
<html lang="vi">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<% include partials/category%>

<% include partials/products%>
</body>
<% include partials/script %>
</html>
