<!DOCTYPE html>
<html lang="vi">
<head>
 <% include partials/head %>
</head>
<body>

    <header class="shop-header container">
        <div class="image-wrap">
            <img class="center" src="images/street-food.jpg">
        </div>
        <div class=image-overlay></div>
        <div class="image-content">
            <h1>Shop name</h1>
            <a class="address" href="maps.google.com/vietnam">123 corner st. gia loc, tay ninh, vn</a>
            <p class="hours">7:00am - 9:00pm</p>
        </div>
    </header>

    <section class="section shop-products-section">
        <div class="container">
            <div class="row row-product-list">
                <% for (var i =1; i <=10;  i++ ) { %>
                    <div class="col-12 col-products">
                        <div class="row">
                            <div class="col-xs-3 my-auto">
                                <img class="img img-thumbnail rounded" src="images/food.jpg" alt="...">
                            </div>
                            <div class="col-xs-7 my-auto">
                                <p><span class="food-name">Food name   </span><span class="price">   $10</span</p>
                                <p>Food description</p>
                            </div>
                            <div class="col-xs-2 my-auto align-self-center">
                                <button class="add-to-cart-button" type="submit"><i class="fas fa-cart-plus fa-2x"></i></button>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <footer class="shopping-cart section">
        <div class="container">
            <div class="row row-shopping-cart">
                <div class="col-xs-9 align-items-center">
                    <p class="cart-total">Total: $20.00 (2 items)</p>
                </div>
                <div class="col-xs-3 col-shopping-cart align-self-end">
                    <button class="shopping-cart-button"><i class="fas fa-shopping-cart fa-2x"></i></button>
                </div>
            </div>
        </div>
    </footer>

</body>
<% include partials/script %>
</html>
