*{
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-3 {
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
.active>a {
    color: #1abc9c !important;;
  }

.navbar-search {
  padding-top: 1rem;
}
.logo {
  font-size: 2rem;
}
.search-box {
  float: right;
  font-size: 1.7rem;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan-2 .fa {
  color: #4dd0e1;
}
.search-box .search-btn {
  border: none;
  background-color: white;
}
