* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9
}

a {
  color: #00b7ff;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.active > a {
  color: #1abc9c !important;
}

.navbar-search {
  padding-top: 1rem;
}
.logo {
  font-size: 2rem;
}
.search-box {
  float: right;
  font-size: 1.7rem;
}
.active-cyan-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan-2 .fa {
  color: #4dd0e1;
}
.search-box .search-btn {
  border: none;
  background-color: #f9f9f9;
}

.category-container {
  margin-bottom: 1.5rem;
}

.row-category {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  border-radius: 0.5rem!important;
  background-color: #4dd0e1;
}

.col-category {
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.stores-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row-stores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0.5rem!important;
  background-color: #2f93a1
}

.col-stores {
  padding: 1rem;
  display: flex;
}
    .col-stores img {
        max-width: 100%
        height: auto;
    }
